body {
  margin: 0;
  font-family: Tahoma, Arial;
  background: #e6f4ff;
  color: #003366;
}

/* الهيدر */
header {
  background: #1e90ff;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 70px;
  margin-left: 15px;
}

/* أقسام */
section {
  padding: 30px 15px;
  text-align: center;
}

h2 {
  color: #1e90ff;
}

/* صورة جماعية */
.team-photo img {
  width: 95%;
  max-width: 900px;
  border-radius: 15px;
}

/* كروت */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: white;
  border-radius: 15px;
  width: 280px;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* اللاعبون */
.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.players-grid img {
  width: 100%;
  border-radius: 10px;
}

/* اتصل بنا */
.social img {
  width: 60px;
  margin: 10px;
}

/* الفوتر */
footer {
  background: #1e90ff;
  color: white;
  padding: 15px;
  text-align: center;
}
