body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
  }
  
  header {
    background: #1e88e5;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  
  .logo {
    width: 70px;
    margin-left: 15px;
  }
  
  section {
    padding: 30px;
    text-align: center;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card img {
    width: 200px;
    border-radius: 10px;
  }
  
  .news img {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }
  
  .players-grid img {
    width: 100%;
    border-radius: 10px;
  }
  
  .social img {
    width: 60px;
    margin: 10px;
  }
  
  footer {
    background: #1e88e5;
    color: white;
    text-align: center;
    padding: 15px;
  }
  